* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

/* Navbar */
header {
    background-color: #111;
    padding: 15px 40px;
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #00adb5;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.nav-links a:hover {
    color: #00adb5;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #ccff00, #393e46);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-size: 40px;
}

.hero span {
    color: #ffdd59;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    background-color: #ffdd59;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

/* Sections */
.section {
    padding: 60px 40px;
    text-align: center;
}

.gray {
    background-color: #eaeaea;
}

.section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 220px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #111;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }
}
